/* You can add global styles to this file, and also import other style files */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100%;
}

.container {
	background-color: #eeeef4;
	padding: 0 12px;
	max-width: 1200px;
	margin: 0 auto;
}


.body{
	height: calc(100vh - 100px);
	width: calc(100vw - 300px);
}

// App Styles
.table-card {
	overflow: auto;
}

// Re-useable style classes
.disp-flex {
	display: flex;
	align-items: center;
}

.text-center {
	text-align: center;
}

.footer {
	background-color: antiquewhite;
}


// Width Styles
.width-100 {
	width: 100%;
}

.width-20 {
	width: 20%;
}

.width-80 {
	width: 80%;
}
